.wrapper {
  margin-bottom: 170px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F1F1F1;
border-radius: 8px;
// width: 100%;
max-height: 204px;
margin-top: 200px;
padding: 11px 109px 30px;
vertical-align: middle;
  }
  &__img {
    margin-top: -50px;
  }
  &__heading {
    margin: 37px 0 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000000;
  }
  &__text {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
    
  }

}